{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block  head_title %}Bienvenido | {{ block.super }}{% endblock %}
{% block jumbotron_content %}

<div class='row'>
    <div class='col-sm-6'>
  <h1>Pagina Luis</h1>
  <p>Proyecto de Django</p>
  <p>
    <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">Únete &raquo;</a>
  </p>
</div>
<div class='col-sm-6' style='background-color: black;height: 300px;'>
    <br>
</div>
{% endblock %}


{{ titulo }}
<br/>
{{ request.user }}

<hr/>
<br/>

{% block content %}
<div class="row">
    <div class="col-sm-3 pull-right">
        <form method="POST" action="">{% csrf_token %}
        {{ el_form|crispy }}
    <input type='submit' value="Registrame">
    </form>
    </div>
    <div class="col-sm-3">
        <p class="lead text-aling-center">Pagina de Luis</p>
    </div>
    <div class="col-sm-3">
        <p class="lead text-aling-center">Django</p>
    </div>
    <div class="col-sm-3">
        <p class="lead text-aling-center">Carlita</p>
    </div>
<hr/>
{% endblock %}